<!DOCTYPE html>
<html>

  <% include ./head %>

  <body style="overflow-x: hidden">
    
  <div class="row">

    <!-- content -->
    <div class="container-fluid col-lg-10 col-md-10 col-sm-12">

      <div class="bom-dia mb-5">
        <h3>Olá <%= user %> <i class="float-right fa fa-sign-out mr-5" onclick="location.href='/dashboard/login/sign-out'" style="cursor: pointer"></i> <span class="float-right mr-4" onclick="location.href='/dashboard/middleware'" style="font-size: 24px;cursor: pointer;">Middleware</span> </h3>
        <hr>
      </div>

      <h1 class="text-center m-5">Module 1</h1>
  
  </body>
</html>
