<head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/dashboard.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src='/js/jquery.js'></script>
    <script src='/js/bootstrap.min.js'></script>
    <script src='/js/main.js'></script>
</head>