<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="modalModuleTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modal-title">Usuario</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<form>
					<div class="form-group">
						<div class="row">
							<div class="col">
								<div class="form-group">
									<label for="">Nome</label>
									<input type="text" class="form-control" id="nomeUserForm" placeholder="Nome">
								</div>
							</div>
							<div class="col">
								<div class="form-group">
									<label for="">Sobrenome</label>
									<input type="text" class="form-control" id="sobrenomeUserForm" placeholder="sobrenome">
								</div>
							</div>
						</div>
						<div class="row">
								<div class="col">
									<div class="form-group">
										<label for="">CPF</label>
										<input type="text" class="form-control" id="cpfUserForm" placeholder="CPF">
									</div>
								</div>
								<div class="col">
									<div class="form-group">
										<label for="">Data de Nascimento</label>
										<input type="date" class="form-control" id="dataNascUserForm" placeholder="05/01/1998">
									</div>
								</div>
							</div>
						<div class="form-group">
							<label for="">E-mail</label>
							<input type="email" class="form-control" id="emailUserForm" placeholder="name@example.com">
						</div>
						<div class="form-group formSenha">
							<label for="">Password</label>
							<input type="password" class="form-control" id="senhaUserForm" placeholder="Password">
							<small class="form-text text-muted">Obrigatorio: </small>
							<ul>
								<li> <small>Minimo 6 caracteres</small></li>
								<li><small>Pelo menos 1 caracter especial</small></li>
								<li><small>Pelo menos 1 numero</small></li>
							</ul>

						</div>

						<div class="form-group">
							<label for="">Permissoes</label>
							<table class="table table-striped">
								<thead>
									<tr>
										<th scope="col">#</th>
										<th scope="col">Nome</th>
										<th scope="col">Descricao</th>
									</tr>
								</thead>
								<tbody class="userTableModule">
									<tr>
										<th scope="row"><input type="checkbox"></th>
										<td>Mark</td>
										<td>Mark</td>
									</tr>
									<tr>
										<th scope="row">2</th>
										<td>Jacob</td>
										<td>Jacob</td>
									</tr>
									<tr>
										<th scope="row">3</th>
										<td>Larry</td>
										<td>@twitter</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- <button type="submit" hidden class="btn btn-primary">Submit</button> -->
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
				<button type="submit" class="btn btn-primary add" onclick="users.add()">Salvar</button>
			</div>
		</div>
	</div>
</div>