<!DOCTYPE html>
<html>

  <% include ./head %>

  <body>
  <div class="row">
    <div class="container-fluid col-lg-10 col-md-10 col-sm-12">
        <div class="row">
            <h1>apps</h1>
        </div>
    </div>
  </body>
</html>
