<!DOCTYPE html>
<html>

  <% include ./head %>

  <body style="overflow-x: hidden">
    
  <div class="row">

    <!-- sidebar -->
    <% include ./sidebar %>
    
    <!-- content -->
    <div class="container-fluid col-lg-10 col-md-10 col-sm-12">

      <div class="bom-dia mb-5">
        <h3>Olá <%= user %> <i class="float-right fa fa-sign-out mr-3" onclick="location.href='/login/sign-out'" style="cursor: pointer"></i> </h3>
        <hr>
      </div>

      <div class="row">

        <div class="col-lg-3 col-sm-6 offset-md-3" onclick="location.href='/user'" style="cursor: pointer">
            <div class="card">
                <div class="content">
                    <div class="row">
                      <div class="col-md-7">
                          <div class="number ml-5">
                              <h3>
                              </h3>
                              <h3>15</h3>
                              <small>Users</small>
                            </div>
                      </div>
                        <div class="col-md-5">
                            <div class="icon-big text-center">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6" onclick="location.href='/module'" style="cursor: pointer">
          <div class="card">
              <div class="content">
                  <div class="row">
                    <div class="col-md-7">
                        <div class="number ml-5">
                            <h3>
                            </h3>
                            <h3>15</h3>
                            <small>Modules</small>
                          </div>
                    </div>
                      <div class="col-md-5">
                          <div class="icon-big text-center">
                              <i class="fa fa-desktop"></i>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  </body>
</html>
