<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
      input {
        margin-bottom: 13px !important;
      }
    </style>
     
  </head>
  <body>
    
    <div class="row">


    <div id="caixa" class="col-12 col-sm-8 col-md-6 row text-center mt-0 mb-0 mt-sm-5">

      <div class="col-12">
        <i class="material-icons user">account_circle</i>
      </div>
      
      <div class="col">
        <form action="/user/login" method="POST">
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Login" id="email" name="email">
            <input class="form-control" type="password" placeholder="Senha" id="senha" name="senha">
            <button class="btn btn-default mb-2" type="submit"><i class="material-icons">chevron_right</i></button>
          </div>
        </form>
      </div>
    </div>
    </div>

    <footer>
      @Projeto Autentificação
    </footer>
  
  </body>
</html>
