<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     
  </head>
  <body>
    
    <div></div>
    <div class="container-fluid">

      <div class="bom-dia">
        <h3>Bom dia</h3>
      </div>

      <div class="container lista">
        <table class="table table-hover">
          <thead>
              <tr>
                <th>#</th>
                <th>i</th>
                <th>nome</th>
                <th>e-mail</th>
                <th>controle</th>
              </tr>    
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td><i class="material-icons">account_circle</i></td>
              <td>Teste</td>
              <td>teste@gmail.com</td>
              <td>
                <button class="btn btn-light btn-sm"><i class="material-icons">visibility</i></button>
                <button class="btn btn-light btn-sm"><i class="material-icons">create</i></button>
                <button class="btn btn-light btn-sm"><i class="material-icons">delete_outline</i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </body>
</html>
